/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
body[b-btnqq5gfwx], .main-container[b-btnqq5gfwx] {
  margin: 0;
  padding: 0;
}
a.navbar-brand[b-btnqq5gfwx] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-btnqq5gfwx] {
  color: #0077cc;
}

.btn-primary[b-btnqq5gfwx] {
  color: #fff;
  background-color: #d10ec7;
  border-color: #ffffff;
}

.nav-pills .nav-link.active[b-btnqq5gfwx], .nav-pills .show > .nav-link[b-btnqq5gfwx] {
  color: #fff;
  background-color: #d10ec7;
  border-color: #d10ec7;
}

.border-top[b-btnqq5gfwx] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-btnqq5gfwx] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-btnqq5gfwx] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-btnqq5gfwx] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-btnqq5gfwx] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
  background-color: #ff69b4;
  color: #fff;
}

